server:
  port: 8050
spring:
  application:
    name: microservice-api-gateway
eureka:
  instance:
    hostname: localhost
  client:
    service-url:
      defaultZone: http://eureka-service1:8761/eureka/,http://eureka-service2:8762/eureka/,http://eureka-service3:8763/eureka/

# 下面整个树都非必须，如果不配置，将默认使用 http://GATEWAY:GATEWAY_PORT/想要访问的Eureka服务id的小写/** 路由到：http://想要访问的Eureka服务id的小写:该服务端口/**
zuul:
  routes:
    user:  # 可以随便写
      path: /user/** # 想要映射的路径
      service-id: microservice-provider-user #映射的服务
#  ignored-services: # 忽略服务(配置后将不会被路由)